/*TABLE*/
table.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    table-layout: fixed;
    border-collapse: collapse;

    width: 100%;
    height: 100%;

    background: var(--neutral-0);
    margin-bottom: 0;
}

@media(max-width: 1280px) {
    table.table {
        width: fit-content;
    }
}

thead, tbody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
}

th:nth-last-child(-n + 1),
td:nth-last-child(-n + 1) {
    border-right: 0;
}

thead th,
tbody td {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;

    height: fit-content;
    min-height: 44px;
    width: 100%;
    min-width: 165px;

    transition: all 0.3s ease-in-out;
}

tbody tr:hover > :not(:hover),
tbody tr td:hover {
    background: #3348FF14;
}

thead.thead,
thead.thead tr,
tbody.tbody,
tbody.tbody tr {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    width: 100%;
    height: fit-content;
    min-height: 44px;
}

thead th.default,
thead th.time {
    background: var(--neutral-50) !important;
    border-right: 1px solid var(--neutral-200);
}

tr:nth-last-child(-n + 1) {
    border-bottom: solid 1px var(--neutral-200);
}

tbody,
tbody tr {
    border-bottom: 1px solid var(--neutral-200);
}

tbody td {
    height: 100%;
    border-right: 1px solid var(--neutral-200);
}

tbody .document:before {
    content: url(../../assets/document.svg);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-bottom: -5px;

    width: auto;
    height: 100%;
}

tbody .eye:after,
tbody .delete:before,
tbody .edit:after {
    content: url(../../assets/eye.svg);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 6px 3px 6px;

    width: 16px;
    height: 16px;

    background: var(--neutral-50);
    border-radius: 8px;

    cursor: pointer;
}

tbody .delete:before {
    content: url(../../assets/delete.svg);
}

tbody .edit:after {
    content: url(../../assets/edit.svg);
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-bottom-width: 1px;
}

.table>:not(caption)>*>* {
    padding: 8px;
    color: var(--neutral-900);
    background-color: var(--neutral-0);
    border-bottom-width: 0;
    box-shadow: none;
}

td, th {
    cursor: default;
}

@media (hover: none), (pointer: coarse) {
    tbody tr,
    tbody tr td {
        transition: none;
    }

    tbody tr:hover > :not(:hover),
    tbody tr td:hover,
    tbody tr:focus > :not(:focus),
    tbody tr td:focus {
        background: var(--neutral-0);
    }

    tbody tr:active > :not(:active),
    tbody tr td:active {
        background: #3348FF14;
    }
}