/*CARD*/
div.card {
    position: relative;
    width: 350px;
    height: 190px;

    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

div.card:hover {
    transform: translateY(-15px);
}

div.cards__fluid:hover > :not(:hover) {
    opacity: 0.5;
}

div.card__mask {
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 350px;
    height: 190px;

    border: 1px solid var(--neutral-200);
    border-radius: 8px;

    z-index: 1;
}

div.card__mask.green {
    background: linear-gradient(180deg, #00000000 50%, #00000099 100%), #00A81C33;
}

div.card__mask.orange {
    background: linear-gradient(180deg, #00000000 50%, #00000099 100%), #F5870033;
}

div.card__mask.blue {
    background: linear-gradient(180deg, #00000000 50%, #00000099 100%), #3348FF33;
}

div.card__content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
    gap: 40px;

    width: 310px;
    height: 150px;
}

p.card__info {
    font-family: "Oddval SemiBold", "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;

    color: var(--neutral-0);
}

img.card__background {
    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 190px;
    top: 0;
    left: 0;

    border: 1px solid var(--neutral-200);
    border-radius: 8px;
    object-fit: cover;
    z-index: 0;
}

@media (hover: none), (pointer: coarse) {
    div.card,
    div.cards__fluid:hover > :not(:hover) {
        transition: none;
    }

    div.card:hover,
    div.card:focus {
        transform: translateY(0);
        opacity: 1;
    }

    div.card:active {
        opacity: 0.5;
    }

    div.cards__fluid:hover > :not(:hover),
    div.cards__fluid:focus > :not(:focus) {
        opacity: 1;
    }
}