/*THEAD*/
th:nth-last-child(-n + 1) {
    border-right: 0 !important;
}

p.head__cell__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;

    color: var(--neutral-900);
}

p.head__cell__content.number,
p.head__cell__content.eye,
p.head__cell__content.edit {
    justify-content: flex-end;
}

p.head__cell__content.select:after {
    content: url(../../../assets/triangle.svg);

    padding-left: 10px;

    width: fit-content;
    height: 100%;
}

.head__cell__content.numeric {
    justify-content: end;
}