body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside main";
    grid-auto-rows: minmax(240px, auto);
}

a {
    width: 100%;
    text-decoration: none;
    color: #14181F;
}

main.main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 20px;
    grid-template-areas:
            "header"
            "section";
    gap: 10px;
    grid-auto-rows: minmax(240px, auto);
}

div.more__container:active,
div.burger__menu:active,
div.footer:active {
    box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.12);
}

div.cards {
    width: calc(100vw - 280px);
    height: auto;

    margin: 0 20px;
    overflow-x: scroll;
}

div.cards::-webkit-scrollbar-track  {
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0);
}

div.cards::-webkit-scrollbar  {
    width: 6px;
    height: 6px;
    background-color: rgba(245, 245, 245, 0.3);
}

div.cards::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    background-color: rgb(237, 240, 242);
}

@media(max-width: 500px) {
    div.cards::-webkit-scrollbar  {
        width: 4px;
        height: 4px;
        background-color: rgba(245, 245, 245, 0);
    }
}

div.cards__fluid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 16px;
    gap: 20px;

    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media(min-width: 1370px) {
    div.cards__fluid {
        justify-content: center;
    }
}

div.card {
    position: relative;
    width: 350px;
    height: 190px;

    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

div.card:hover {
    transform: translateY(-15px);
}

div.cards__fluid:hover > :not(:hover) {
    opacity: 0.5;
}

div.card__mask {
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 350px;
    height: 190px;

    border: 1px solid #DCE0E5;
    border-radius: 8px;

    z-index: 1;
}

div.card__mask.green {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%), rgba(0, 168, 28, 0.2);
}

div.card__mask.orange {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%), rgba(245, 135, 0, 0.2);
}

div.card__mask.blue {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%), rgba(51, 72, 255, 0.2);
}

div.card__content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
    gap: 40px;

    width: 310px;
    height: 150px;
}

p.card__info {
    font-family: "Oddval SemiBold", "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;

    color: #FFFFFF;
}

img.card__background {
    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 190px;
    top: 0;
    left: 0;

    border: 1px solid #DCE0E5;
    border-radius: 8px;
    object-fit: cover;
    z-index: 0;
}

.page__content {
    position: relative;
    box-sizing: border-box;

    width: calc(100vw - 280px);
    min-height: 350px;

    margin: 20px 20px 0 20px;

    background: #FFFFFF;
    border: 1px solid #DCE0E5;
    border-radius: 8px;
}

.div__p__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    text-align: center;

    color: #525E6F;
}

/* ANIMATION */
body.open {
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
            "aside"
            "main";
}

aside.aside.open {
    grid-row: 1 / 2;
    height: 100vh;
}

aside.aside.open footer.footer {
    position: relative;
    bottom: unset;
    left: unset;
    transform: translate(0, 0);
    animation: open_menu 0.3s ease;
}

@keyframes open_menu {
    0% {
        opacity: 0;
        scale: 1.5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

nav.open {
    display: block;
    animation: open_menu 0.3s ease;
}

main.open {
    display: none;
    grid-row: 2 / 3;
}

@media(max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
                "main"
                "aside";
        grid-auto-rows:  minmax(0, 100%);
    }
}