/*HOME*/
div.more__container:active,
div.burger__menu:active,
div.footer:active {
    box-shadow: inset 0 4px 12px #0000001E;
}

div.cards {
    width: calc(100vw - 280px);
    height: auto;

    margin: 0 20px;
    overflow-x: scroll;
}

div.cards::-webkit-scrollbar-track  {
    border-radius: 10px;
    background-color: #F5F5F500;
}

div.cards::-webkit-scrollbar  {
    width: 6px;
    height: 6px;
    background-color: #F5F5F54C;
}

div.cards::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    background-color: #EDF0F2FF;
}

@media(max-width: 500px) {
    div.cards::-webkit-scrollbar  {
        width: 4px;
        height: 4px;
        background-color: #F5F5F500;
    }
}

div.cards__fluid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 16px;
    gap: 20px;

    width: 100%;
    height: auto;
    margin-bottom: 10px;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media(min-width: 1370px) {
    div.cards__fluid {
        justify-content: center;
    }
}

.page__content {
    position: relative;
    box-sizing: border-box;

    width: calc(100vw - 280px);
    min-height: 350px;

    margin: 20px 20px 0 20px;

    background: var(--neutral-0);
    border: 1px solid var(--neutral-200);
    border-radius: 8px;
}

.div__p__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    text-align: center;

    color: var(--neutral-700);
}

@media(max-width: 600px) {
    div.cards, div.page__content {
        width: calc(100vw - 40px);
    }
}